body {
  margin: 0;
  font-family: "Tourney", sans-serif;
}

.header {
  background-color: #3f3f3f;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.nav a {
  color: white;
  text-decoration: none;
  display: block;
  transition: all 0.3s ease-out;
}

.nav a:hover {
  color: black;
  transform: rotate(5deg);
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav li {
  margin-left: 20px;
}

.hero {
  background-color: #b0b0b0;
  padding: 60px 45px;
  display: flex;
  justify-content: center;
}

.hero-inner {
  max-width: 760px;
}

.hero h1 {
  font-weight: normal;
  font-size: 4rem;
  margin: 0;
}

.hero p {
  font-size: 1.15rem;
  line-height: 1.5;
}

.button {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 1.15rem;
  display: inline-block;
}

.features {
  background-color: white;
}

.features-inner {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-column-gap: 45px;
}

.feature-item h3 {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 5;
}
.feature-item p {
  margin: 0;
  line-height: 1.5;
  color: black;
}

.footer {
  text-align: center;
  padding: 20px 0;
  color: grey;
  font-size: 0.9rem;
}

.photos img {
  width: 100%;
}

.photos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
}